* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 100px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0px 150px 0px 150px;
}

.nav_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.nav_text h5 {
  font-size: 25px;
  margin: 0px;
}

.nav_text p {
  color: rgb(182, 182, 182);
  font-size: 12px;
  letter-spacing: 0.07em;
}

.logo img {
  height: 130px;
  cursor: pointer;
}

/******FOOD CARDS*****/

.food_cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vh;
  height: 18vh;
  border-radius: 13px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 10px;
}

.card img {
  display: flex;
  justify-content: center;
  width: 60px;
  margin: 10px;
}

.card p {
  font-size: 15px;
  margin: 5px;
  color: #b4b4b4;
}

/****FOOD DETAILS*****/
#tapas {
  display: flex;
  margin: auto;
  flex-direction: column;
  display: none;
  max-width: 800px;
  display: none;
}

#desayunos {
  display: flex;
  margin: auto;
  flex-direction: column;
  display: none;
  max-width: 800px;
  display: none;
}

#ensaladas {
  display: flex;
  margin: auto;
  flex-direction: column;
  display: none;
  max-width: 800px;
  display: none;
}

#almuerzos {
  display: flex;
  margin: auto;
  flex-direction: column;
  display: none;
  max-width: 800px;
  display: none;
}

#cena {
  display: flex;
  margin: auto;
  flex-direction: column;
  display: none;
  max-width: 800px;
  display: none;
}

#postres {
  display: flex;
  margin: auto;
  flex-direction: column;
  display: none;
  max-width: 800px;
  display: none;
}

#bebidas {
  display: flex;
  margin: auto;
  flex-direction: column;
  display: none;
  max-width: 800px;
  display: none;
}

#todo {
  display: flex;
  margin: auto;
  flex-direction: column;
  display: none;
  max-width: 800px;
  display: none;
}

.food_details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;

  padding: 20px;
  margin: 15px;
  border-radius: 15px;
  box-shadow: 8px 8px 10px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  border: 1px solid rgb(182, 182, 182);
}

.food_img {
  max-width: 20vw;
  height: 20vw;
  object-fit: cover;
  border-radius: 15px;
}

.card_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 10px;
  text-align: center;
}

.card_text h1 {
  color: rgb(255, 191, 0);
  font-size: 25px;
}

.card_text h4 {
  padding: 5px;
}

.card_text h5 {
  padding: 5px;
  font-style: italic;
}

#counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#add {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: rgb(182, 182, 182);
  width: 40px;
  height: 35px;
  border: none;
  border-radius: 15px 15px 0px 0px;
}

#counter h5 {
  margin: 10px;
}

#remove {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: rgb(182, 182, 182);
  border: none;
  width: 40px;
  height: 35px;
  border-radius: 0px 0px 15px 15px;
}

#add:hover {
  background-color: #ff6900;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

#remove:hover {
  background-color: #ff6900;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

/********FOOTER******/

.footer {
  position: fixed;
  align-items: center;
  left: 0;
  bottom: 0;
  margin-top: 150px;
  width: 100%;
  color: grey;

  padding: 20px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.main_icon {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 0%;
  text-decoration: none;
  border-radius: 50px;
  font-size: 25px;
  background-color: #ff6900;
  padding: 12px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  color: rgb(161, 161, 161);
}

.icons i {
  cursor: pointer;
}

/******CHECKOUTBODY******/








@media screen and (max-width: 950px) {
  header {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 0;
  }
  .logo img {
    height: 60px;
  }
}
